<div class="m-3">
<h1>Change Password</h1>
<%= form_with url: update_password_path, method: :post do |f| %>
  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class:"form-control", required: true %>
  </div>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password, class: "form-control", required: :required %>
  </div>
  <div>
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation, class: "form-control", required: :required %>
  </div>
  <%= f.submit "Update Password", class:"btn btn-outline-primary px-4 my-2" %>
<% end %>
</div>