<%= form_with(model: @post) do |form| %>
    <div>
        <%= form.label :title %>
        <br>
        <%= form.text_field :title, cols:90 %>
    </div>
    <div>
        <%= form.label :body %>
        <br>
        <%= form.text_area :body, cols:90 %>
    </div>
    <%= form.submit %>
<% end %>