<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<p><small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small></p>

  <%= button_to 'Edit', edit_post_path(@post), method: :get %>
  <%= button_to 'Delete', post_path(@post), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %>