<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
      <nav class="navbar">
        <div class="brand"> 
          <%= link_to 'Blog On Rails', root_path %>
        </div>
        <ul class="menu">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'New Post', new_post_path %>
          </li>
        </ul>
      </nav> 
    </header> 
    <%= yield %>
  </body>
</html>
